.container {
  position: relative;
  width: 100%;
}

.navigation {
  right: 0;
  position: fixed;
  width: 200px;
  height: 100%;
  background: var(--blue);
  border-right: 10px solid var(--blue);
  overflow: hidden;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.navigation.active {
  width: 75px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  margin-bottom: 0.1rem;
  position: relative;
  width: 100%;
  border: none;
  list-style: none;
  height: inherit;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* .navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
} */

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li:nth-child(1) a {
  display: flex;
  justify-content: center;
}

.navigation ul li.active {
  background-color: var(--white);
}

.navigation ul li a {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  text-decoration: none;
  color: var(--white);
}

/* .navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
} */

.navigation ul li.active a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ul li a .icon {
  font-size: 1.5em;
}

.navigation ul li a .title {
  padding: 5px;
  position: relative;
  display: block;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}

/* Curve Outside */

/* .navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  top: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  /* box-shadow: 35px 35px 0 10px red; 
  pointer-events: none;
} */

.navigation ul li.active a::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: -35px 35px 0 10px var(--white);
  /* box-shadow: 35px 35px 0 10px red; */
  pointer-events: none;
}

/* .navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  /* box-shadow: 35px -35px 0 10px red; 
  pointer-events: none;
} */

.navigation ul li.active a::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: -35px -35px 0 10px var(--white);
  /* box-shadow: 35px -35px 0 10px red; */
  pointer-events: none;
}

.main {
  position: absolute;
  width: calc(100% - 200px);
  right: 200px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.main.active {
  width: calc(100% - 75px);
  left: 75px;
}

.topbar {
  background-color: var(--blue);
  z-index: 101;
  top: 0;
  position: sticky;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  box-shadow: 0px 21px 14px 2px rgb(36, 36, 247);
}

.toggle {
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  background: #ccc;
  font-size: 2em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  position: relative;
  /* width: inherit; */
}

.search label {
  position: relative;
  width: 100%;
}

.search input {
  direction: rtl;
  width: 100%;
  height: 40px;
  padding: 5px 20px 5px 40px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid var(--black2);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.search label ion-icon {
  position: absolute;
  top: 3px;
  left: 10px;
  font-size: 1.1em;
}

.user {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.main .content {
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 2rem 2rem 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-trigger img {
  /* position: absolute;
  top: 5px;
  right: 20px; */
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}

.dropdown-menu {
  z-index: 100;
  position: absolute;
  top: 90px;
  left: 7px;
  background-color: var(--blue);
  border-radius: var(--border-radius);
  padding: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 20px;
  height: 20px;
  width: 20px;
  background: var(--blue);
  transform: rotate(45deg);
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.dropdown-menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
  line-height: 1.2rem;
}

.dropdown-menu button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  padding: 3px 5px;
}

h3 span {
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: 400;
}

.dropdown-menu ul li {
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover a {
  color: rgb(212, 33, 9);
  cursor: pointer;
}

.dropdown-menu ul li:hover img {
  opacity: 1;
  cursor: pointer;
}

.dropdownItem {
  display: flex;
  margin: 10px auto;
}

.dropdownItem img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.dropdownItem a {
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
}

.operations {
  padding: 21px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.add-item {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  padding: 7px 40px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.add-item p,
.stud-details p {
  text-align: center;
  font-size: larger;
  color: red;
}

.form-student {
  padding: 21px 4px;
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 21px;
}

.form-student select {
  text-align: center;
  padding: 0.7em 0.4em;
  border: none;
  font-size: 1em;
  border-radius: 0.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.form-student button {
  width: 35px;
  height: 35px;
  border: solid 1px var(--black2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-student .edit {
  font-size: large;
  width: fit-content;
  padding: 4px 10px;
  border: 2px solid var(--black2);
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.stud-details {
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.stud-details img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.stud-details input {
  text-align: center;
  font-size: large;
}

.stud-details button,
.stud-details input {
  padding: 10px;
  border: var(--black2) 2px solid;
  border-radius: 14px;
}

.addForm {
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}

.addForm input {
  direction: rtl;
  height: 40px;
  padding: 5px 20px 5px 40px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid var(--black2);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.addForm button {
  width: 35px;
  height: 35px;
  border: solid 1px var(--black2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.table button {
  padding: 0 7px;
  width: 65px;
  height: 28px;
  border: 2px solid var(--black2);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.css-204u17-MuiDataGrid-main {
  direction: rtl;
}

.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
  display: flex;
  flex-direction: row-reverse;
}

.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar p,
.css-rtrcn9-MuiTablePagination-root {
  font-size: large !important;
}
